.header {
	width: 100%;
	max-width: var(--container-max-width);
	margin-top: var(--space-15);
	margin-inline: auto;
	padding-inline: var(--space-12);
	display: flex;
	justify-content: flex-end;
}

.title {
	color: var(--secondary-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--text-5xl);
	line-height: 90%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	text-align: right;
}
