.container {
	display: flex;
	flex-direction: column;
	gap: var(--space-17);
}

.title {
	margin-top: var(--space-15);
}

@media (max-width: 768px) {
	.container {
		padding-inline: var(--space-4);
		padding-top: 80px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: var(--space-7);
	}

	.title {
		margin-top: 0;
		order: 1;
		font-size: var(--text-md);
		align-self: center;
		text-align: center;
	}
}
